* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #111;
    margin-top: auto;
}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicon {
    display: flex;
    justify-content: center;
}

.socialicon a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicon a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

.socialicon a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialicon a:hover i {
    background-color: white;
    transition: 0.5s;
}

.footernav {
    max-width: 30px 0;
}

.footernav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover {
    opacity: 1;
}

.footer-bottom {
    background-color: #000;
    text-align: center;
    padding: 20px;
}

.footer-bottom p {
    color: white;
}

@media (max-width:700px) {
    .footernav ul {
        flex-direction: column;
    }
    .footernav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .socialicon a {
        padding: 8px;
        margin: 4px;
    }
}